# ADICIONAR NA PRODUÇÃO
# media/

# APAGAR NA PRODUÇÃO
geral/migrations/0001_initial.py
usuario/migrations/0001_initial.py
produto/migrations/0001_initial.py
produto/migrations/0002_rename_categoria_produtocategoria.py

# Python
__pycache__/
*.pyc

# Configuração local
local_settings.py

# Banco de dados
db.sqlite3
db.sqlite3-journal


# Editores
.idea/
*.idea
.vscode/
.DS_Store

# Maquinas virtuais
venv/
env/
zVenv/