# ADICIONAR NA PRODUÇÃO
# media/
# dev_functions.py

# APAGAR NA PRODUÇÃO
geral/migrations/0001_initial.py
usuario/migrations/0001_initial.py
produto/migrations/0001_initial.py
carrinho/migrations/0001_initial.py
carrinho/migrations/0002_initial.py
carrinho/migrations/0003_alter_carrinhoitem_unique_together.py
carrinho/migrations/0004_remove_carrinho_data_atualizado_and_more.py
carrinho/migrations/0002_alter_carrinhoitem_valor_unitario.py

# Python
__pycache__/
*.pyc

# Configuração local
local_settings.py

# Banco de dados
db.sqlite3
db.sqlite3-journal


# Editores
.idea/
*.idea
.vscode/
.DS_Store

# Maquinas virtuais
venv/
env/
zVenv/