{% extends 'base/base.html' %}
{% load static %}
{% block injectCSS %}
    <link rel="stylesheet" href="{% static 'src/css/carrinho.css' %}">
{% endblock injectCSS %}
{% block base %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2>Carrinho de compra</h2>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">


                        <thead>
                        <tr>
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Produto &amp; Detalhes</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Preço</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Quanteda</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                            <th class="text-center align-middle py-3 px-0 " style="width: 40px;">
                                <a href="#" class="tooltip">

                                </a>
                            </th>
                        </tr>
                        </thead>


                        <tbody>


                        <!--        for item in itens        -->
                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                         class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                    <div class="media-body">
                                        <a href="#" class="d-block text-dark">Product 1</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right fw-semibold align-middle p-4">R$57.55</td>
                            <td class="align-middle p-4">
                                <input type="text" class="form-control text-center" value="2">
                            </td>
                            <td class="text-right fw-semibold align-middle p-4">R$155555515,10</td>
                            <td class="text-center align-middle px-0">
                                <a href="#" class="close float-none text-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <!--        endfor                   -->


                        </tbody>
                    </table>
                </div>

                <div class="row ">
                    <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                        <div class="mt-4">
                            <label class="text-muted font-weight-normal" for="desconto">Código Promocional</label>
                            <input type="text" placeholder="ABC" class="form-control" id="desconto">
                            <button class="btn btn-primary mt-1">Aplicar</button>
                        </div>
                        <div class="d-flex">
                            <div class="text-right me-4 ">
                                <label class="text-muted fw-normal m-0">Desconto</label>
                                <div class="text-large"><strong>R$20</strong></div>
                            </div>
                            <div class="text-right me-4">
                                <label class="text-muted fw-normal m-0">Preço total</label>
                                <div class="text-large"><strong>R$1164.65</strong></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success">Finalizar compra</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock base %}