{% extends 'base/base_conta.html' %}
{% load static %}

{% block baseConta %}
<div class="row">
    <div class="col-12">
        <h3 class="text-left">Meus pedidos</h3>
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Itens</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th> Ver mais</th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5">
							<h3 class="text-center">Nenhum pedido.</h3>
						</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock baseConta %}